* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


/* Paleta colores */
$background-color: black;
$color: #FFFFFF;
$color-icons: white;
$color-hover: grey;


/* Tipografías */
/*$font-family: ;*/


$font-size-date: 24;
$font-size-city: 24;
$font-size-enclosure: 20;
$font-size-menu: 24;
$font-size-title: 100;
$font-size-footer: 20;

$font-weight-date: 800;
$font-weight-city: 400;
$font-weight-enclosure: 400;
$font-weight-menu: 400;
$font-weight-title: 400;
$font-weight-footer: 400;

$letter-spacing-menu: 10%;

.menu{
    font-size: $font-size-menu;
    font-weight: $font-weight-menu;
    letter-spacing: $letter-spacing-menu;
}


.title{
    font-size: $font-size-title; 
    font-weight: $font-weight-title; 
}

.date{
    font-size: $font-size-date; 
    font-weight: $font-weight-date; 
}

.city{
    font-size: $font-size-city; 
    font-weight: $font-weight-city; 

}

.enclosure{
    font-size: $font-size-enclosure; 
    font-weight: $font-weight-enclosure; 
}

.footer{
    font-size: $font-size-footer; 
    font-weight: $font-weight-footer; 
}

.icon-size{
    width: 4px;
    height: 4px;
}